div{
    border: 2px red solid;
    margin-top: 3px;
    display: inline-block;
    height: 250px;
    width: 250px;
    text-align: center;
    background-color: aqua;
    font-weight: 700;
    font-size: xx-large;
    
}